.timetable
	width 80%
	vertical-align middle
	text-align center
	margin auto
	overflow hidden
	border-bottom 1px solid $table-border-color
	padding 5px

	&_fixed
		top 0
		position fixed
		width auto
		display none
		z-index 1

	&__row
		+to-width(801px)
			cursor pointer

	&__body
		& > .timetable__row:nth-child(4n+1) > .timetable__cell
			border-bottom none
			border-top none

		& > .timetable__row:nth-child(4n+1) > .timetable__cell:after
			content ""
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-color $table-odd-row-color
			z-index -2

		& > .timetable__row:not(.flight-details):hover
			background-color $table-cell-hover-color

		& > .timetable__row:not(.flight-details) > .timetable__cell:hover:before
			content ""
			position absolute
			width 100%
			height 10000px
			top -5000px
			left 0
			background-color $table-cell-hover-color
			z-index -1

		+to-width(801px)
			& > .timetable__row:focus + .flight-details .flight-details__wrapper
				border: 1px solid $table-border-color

			& > .timetable__row:focus + .flight-details .flight-details__content
				opacity 1
				max-height 5000px // Using big max-height value for correct transition


	&__cell
		position relative
		padding 5px
		border 1px solid $table-border-color

		&_type_heading
			font-weight 500
			background-color $table-heading-color
			color $table-heading-font-color

		+to-width(1025px)
			&:nth-child(4)
				display none

		+to-width(801px)
			&:nth-child(3)
				display none

		+to-width(601px)
			&:nth-child(5),
			&:nth-child(10)
				display none

		+to-width(376px)
			&:nth-child(6),
			&:nth-child(7)
				display none

.flight-details
	background-color: $table-flight-details-color

	&__item
		padding 10px
		border-bottom 1px solid $table-border-color
		text-align center

		&:last-child
			border-bottom none

	&__wrapper
		padding 0
		text-align left
		border none

	&__content
		opacity 0
		max-height 0
		transition opacity .4s ease,max-height .4s ease

	&__heading
		margin 5px 0
		font-size 1.2em
		font-weight bold

.airplane
	&__type_form_short
		display none

	+to-width(801px)
		&__type
			display none
		&__type_form_short
			display block

.airport
	&__title
		margin-right 5px

	+to-width(801px)
		&__code
			display none

	&__code
		color $table-airport-code-color

.flight-icon
	display inline-block

	&_type_landing
		sprite $airplane_landing
	&_type_takeoff
		sprite $airplane_takeoff


.controls
	text-align center
	margin: 15px 0

	&__checkbox
		margin-right 5px

	&__label
		margin-right 10px

.message
	display none
	width 80%
	margin auto
	margin-top 15px
	padding 10px
	background-color $message-background-color
	background-image $message-gradient
	background-repeat repeat-x
	text-shadow 0 1px 0 rgba(255,255,255,.2)
	box-shadow inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05)
	border 1px solid $message-border-color
	border-radius 4px
	text-align center
	font-size 16px
	color $message-font-color


