.controls
	text-align center
	margin-bottom 15px

	&__checkbox
		margin-right 5px

	&__label
		margin-right 10px

.timetable
	width: 100%
	vertical-align middle
	text-align center

	&__cell
		padding 5px

.flight-details
	display none

.airplane
	&__type_form_short
		display none

.aircompany
	&__logo
		vertical-align middle
		margin-right 5px

.flight-icon
	display inline-block

	&_type_landing
		sprite $airplane_landing
	&_type_takeoff
		sprite $airplane_takeoff

.message
	text-align center
