body
	padding-top 20px
	padding-bottom 20px
	color #000
	font-family cuprum, sans-serif
	background-color #f0f0f0
	cursor default

	+to-width(540px)
		padding-top 0
		padding-bottom 0

.h1
	margin-left -20px
	margin-right -20px
	margin-bottom 20px
	padding 20px
	font-size 28px
	font-weight bold
	text-align center

.h2
	margin-bottom 20px
	font-size 20px
	font-weight bold
	text-align center

.h3
	margin-bottom 10px
	padding-left 20px
	padding-right 20px
	font-size 18px
	font-weight bold

	+to-width(540px)
		text-align center
