$table-border-color = #ddd
$table-heading-color = #707070
$table-heading-font-color = #fff
$table-odd-row-color = #f9f9f9
$table-cell-hover-color = #ffa
$table-flight-details-color = #fff
$table-airport-code-color = #555

$message-background-color = #d9edf7
$message-gradient = linear-gradient(to bottom,#d9edf7 0,#b9def0 100%)
$message-border-color = #9acfea
$message-font-color = #31708f
