extends ../layouts/default

block head
	- pageTitle = 'Табло рейсов';

block content
	div(class="controls")
		input(class="controls__checkbox", type="checkbox", id="takeoff-check", checked)
		label(class="controls__label" for="takeoff-check") Вылет
		input(class="controls__checkbox", type="checkbox", id="landing-check", checked)
		label(class="controls__label" for="landing-check") Прилет

	table(class="timetable")
		thead
			tr(class="timetable__row")
				th(class="timetable__cell timetable__cell_type_heading") Тип рейса
				th(class="timetable__cell timetable__cell_type_heading") Номер рейса
				th(class="timetable__cell timetable__cell_type_heading") Логотип авиакомпании
				th(class="timetable__cell timetable__cell_type_heading") Авиакомпания
				th(class="timetable__cell timetable__cell_type_heading") Тип воздушного судна
				th(class="timetable__cell timetable__cell_type_heading") Аэропорт
				th(class="timetable__cell timetable__cell_type_heading") Время вылета
				th(class="timetable__cell timetable__cell_type_heading") Время прилета
				th(class="timetable__cell timetable__cell_type_heading") Cтатус рейса
				th(class="timetable__cell timetable__cell_type_heading") Примечание
		tbody(class="timetable__body")
			+rows(getData('rows'))
	div(class="message") Для отображения рейсов используйте галочки

